input[name="files[]"] {
  display: none;
}

div.drop-zone {
  cursor: pointer;

  padding: $drop-padding;

  border: $drop-border;
  border-radius: $border-radius;

  font: 20pt bold $font-family;
  text-align: center;
  color: $drop-color;
}
