@import '~normalize.css/normalize.css';

@import 'variables';

body {
  padding: $body-padding;
}

#files {
  display: none;
}

#drop-zone {
  border: 2px dashed $drop-color;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold $font-family;
  color: $drop-color;
  cursor: pointer;
}
